/* ##########ANIMATIONS-START########## */

@-webkit-keyframes swing
{
  15%
  {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  30%
  {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  50%
  {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  65%
  {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


@-moz-keyframes swing
{
  15%
  {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  30%
  {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  50%
  {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  65%
  {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* ##########ANIMATIONS-END########## */