body, html {
    height:100%;
    margin: 0px 0px 0px 0px;
    background-color: black;
}

.background-photo {
    background-image: url(../img/background1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    width:100%;
    text-align: left;
    background-color: rgba(100,100,100,0.5);
    margin-bottom: 10px;
    top: 0px;
    position: fixed;
    height: 75px;
}

header .login {
    position: absolute;
    right: 20px;
    top: 20px;
}

input[type=text], input[type=password] {
    border: 2px solid black;
    border-radius: 5px;
    font-family: Audiowide;
}

button[class=sign]{
    background-color: black;
    color: white;
    border: none;
    font-family: Audiowide;
}

button[class=sign]:hover {
    background-color: red;
}

header .logo {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 50px;
    max-width: 202px;
}

header nav {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
header nav .menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav .menu li {
    float: left;
}

header nav .menu li a {
    padding: 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: Audiowide;
    font-size: 15px;
}

header nav .menu li a:hover {
    background-color: red;
}
.clear {
    clear: both;
}

div .hero-box {
    position: absolute;
    right: 100px;
    top: 250px;
    width: 600px;
    height: 400px;
    color: white;
    font-family: Audiowide;
    border: none;
    border-radius: 30px;
    background-color: rgba(100,100,100,0.5);
    text-align: center;
}

div .hero-box .hero-copy {
    position: relative;
    font-size: 30px;
    top: 50px;
}

div .hero-box .join-us {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: red;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: Audiowide;
    width: 75%;
    display: inline-block;
    position: relative;
    top: 50px;
}

div .hero-box .join-us:hover {
    background-color: white;
    color: red;
}
}
main {

}

section {

}
