body, html {
    height:100%;
    margin: 0px 0px 0px 0px;
    background-color: black;
}

.background-photo {
    background-image: url(../img/challenge-background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* ##########NAV-BAR-START########## */

header {
    width:100%;
    text-align: left;
    background-color: rgba(100,100,100,0.5);
    margin-bottom: 10px;
    top: 0px;
    position: fixed;
    height: 75px;
    font-family: Audiowide;
}

header .login {
    position: absolute;
    right: 20px;
    top: 20px;
}

.login input[type=text], .login input[type=password] {
    border: 2px solid black;
    border-radius: 5px;
    font-family: Audiowide;
    width: 125px;
}

button[class=sign]{
    background-color: black;
    color: white;
    border: none;
    font-family: Audiowide;
}

button[class=sign]:hover {
    background-color: red;
}

header .logo {
    float: left;
    margin: 20px;
    max-height: 50px;
    max-width: 202px;
}

header nav {
    float: left;
    margin: 30px;
}
header nav .menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav a {
    padding: 10px;
    margin: 5px 10px;
    border-radius: 5px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav a:hover {
    background-color: red;
}
.clear {
    clear: both;
}

/* ##########NAV-BAR-KONIEC########## */

/* ##########HERO-HEADER-START########## */

div .hero-box {
    position: absolute;
    right: 100px;
    top: 200px;
    width: 600px;
    height: 400px;
    color: white;
    font-family: Audiowide;
    border: none;
    border-radius: 30px;
    background-color: rgba(100,100,100,0.5);
    text-align: center;
}

div .hero-text {
    position: relative;
    font-size: 30px;
    top: 50px;
}


div .join-us {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    background-color: red;
    border: none;
    border-radius: 30px;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 30px;
    font-family: Audiowide;
    width: 75%;
    display: inline-block;
    position: relative;
    top: 50px;
}

div .join-us:hover {
    background-color: white;
    color: red;
}

/* ##########HERO-HEADER-KONIEC########## */

main {

}

.informacje{
    width: 100%;
    margin: 50px 60px 80px 90px;
}


.form-container {
    width: 100%;
    margin: 30px 0px 30px 0px;
}

.form-newsletter {
    padding: 20px;
    position: relative;
    margin: auto;
    color: white;
    font-family: Audiowide;
    border: 5px solid white;
    width: 50%;
    border-radius: 10px;
}

.zgoda-newsletter {
    font-family: FreeSans;
    font-size: 12px;
}
.box1 {
    font-family: "Audiowide";
    font-size: 30px;
    color: #ffffff;
    width: 100%;
    display: inline-table;
    position: inherit;
    margin: 100px 200px 300px 250px;
}



.step1 {
    width: 350px;
    height: 155px;
    float: left;
    margin: 30px 50px 40px 60px;

}
.register {
    width: 50%;
    hight: 50%;
    margin: 12px;
}
.step1:hover {

    color: #2f4f4f;
}
.step2 {
    width: 350px;
    height: 155px;
    float: left;
    margin: 30px 50px 40px 60px;
}
.step2:hover {

    color: #2f4f4f;
}
.target {
    width: 50%;
    hight: 50%;
    margin: 0px 20px 20px 20px;
}

.step3 {
    float:left;
    width:400px;
    height:155px;
    margin: 10px 10px 20px 60px;
}
.step3:hover {

    color: #2f4f4f;
}

.check {
    width: 50%;
    hight: 50%;
    margin: 0px 20px 20px 20px;
}


#r1 {
    font-size: 20px;
    font-family: Audiowide;
}

#box1:after {
    content:'';
    display:block;
    clear:both;
}
.onas {
    width: 100%;
    height: 150px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    color: orange;
}

.socials {
    width: 100%;
    text-align: center;
    background-color: black;
}

.socialdivs{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.fb{
    width: 250px;
    height: 155px;
    float:left;
}

.fb:hover {
    background-color: #4668b3;
}

.yt {
    width: 250px;
    height: 155px;
    float:left;
}

.yt:hover {
    background-color: #d94348;
}

.tw {
    width: 250px;
    height: 155px;
    float:left;
}

.tw:hover {
    background-color: #3095d3;
}

.gplus {
    width: 250px;
    height: 155px;
    float:left;
}

.gplus:hover {
    background-color: #d95333;
}

footer {
    background-color: orange;
    text-align: center;
}

.fmenu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    min-height: 40px;
    line-height: 200%;
}

.fmenu > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    color: #ddd;
    text-transform: uppercase;
}

.fmenu a {
    color: dimgrey;
    text-decoration: none;
}

.fmenu a:hover {
    color: darkslategray;
}

footer > p {
    font-size: 25px;
    color: black;
}

#stopa {
    margin-bottom: -25px;
}
